.footer__logotype {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

@media screen and (min-width: 320px) and (max-width: 868px) {
  .footer__logotype {
    width: 20px;
    height: 20px;
  }
}
